body {
	margin: 0;
	border: 0;
	background-color: #000000;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: medium;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size:40px;
}

h2 {
	color: #ffffff;
}

p {
	color: #ffffff;
}

.figure {
	margin: 0;
}

.iguana-figure {
	width: 100%;
}

/*  Inicio section 1 */

/* .section-1 {
	background-color: #000000;
	margin:0px;
	padding: 45px 0;
} */

.desc-section {
	display: flex;
	align-items: center;
	background-color: #000000;
}

/* .iguana-1 {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
} */

.contenedor-1, .contenedor-2{
	flex: 1;
}
.contenedor-1{
	margin: 120px;
	margin-right: 0px;
	padding: 50px; 
	margin-bottom: 15px;
	margin-top: 15px;
}
.contenedor-2{
	padding: 60px;
}
.contenedor-2 img{ 
	width: 72%;
}

/* Fin section 1 */

/* Inicio Section 2 icons*/
.icons-section {
	background-color: #1E1A13;
	text-align: center;
	padding: 50px;
}

.icons-section h2 {
	font-weight: 500;
	font-size: 40px;
	margin-bottom: 1em;
}

.icons {
	display: inline-block;
	width: 30%;
}

.icons p {
	font-size: 25px;
	font-weight: 300;
}
/* Fin Section 2 icons*/

/* Inicio Section 3 Img*/
.img-section {
	text-align: center;
	padding: 73px 0;
}

.image {
	display: inline-block;
	/* width: 30%; */
	vertical-align: middle;
}

.image img {
	width: 316px;
	height: 202px;
	padding: 0 8px;
	/* padding: 20px; le doy padding a todos lados */
	/* padding: 0 20px; le doy padding al lado izquierdo y derecho */
	/* padding: 20px 0; le doy padding al lado top y bottom*/
}
/* Fin Section 2 Img*/

footer {
	background-color: #1E1A13;
	text-align: center;
	margin: 0;
	padding: 10px;
	color: #ffffff;
}

footer a {
	text-decoration: none;
	color: white;

	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}